* {
  box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

/* Navbar start */

.logo img {
    filter: brightness(0) invert(1);
    max-width: 150px;
}

.navbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  background: rgba(100, 100, 100, 0.9);
  z-index: 1;
}

.navbar-links ul {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li .active {
  text-decoration: underline;
}

.navbar-links li:hover {
  text-decoration: underline;
}

.toggle-button {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: white;
}

/* Navbar end */
/* Background img with h1 start */
  .bg {
    position: relative;
    color: white;
  }

  .bg img {
    max-width: 100%;
  }

  .bg h1 {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0; 
    width: 60%;
    top: 83%;
    text-align: center;
    font-style: italic;
    font-size: 4.5vw;
    font-family: 'Dancing Script', cursive;
  }

  /* Background img with h1 end */
  /* we offer section (indext.html) start */
  .weoffer {
    margin-top: 20px;
    display: inline-grid;
    grid-template-columns: auto auto;
    width: 100%;
    background-color: #007cba;
  }
  

  .weoffer img {
    max-width: 700px;
    margin-top: auto;
    margin-bottom: auto;
  }


  .two {
    color: rgb(255, 255, 255);
    font-family: 'Lexend Mega', sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 40px;
  }

  .two p {
    font-size: 1.8vw;
  }

  .wtext {
    font-size: 3.6vw;
  }
/* we offer section (indext.html) end */


/* footer start */
  .info {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 80px;
    width: 100%;
    color: rgb(184, 179, 179);
    border-top: solid 1px rgb(90, 90, 90);
  }

  .info p {
    display: inline-block;
    margin-top: 35px;
  }
  .info a {
    float: right;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

   .info a img {
     width: 30px;
   }
/* footer end */

/* (services.html) satrt */

.chrome {
  margin: 130px 0px 30px 0px;
  position: relative;
  text-align: center;
}
.center {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-family: 'Montserrat', sans-serif;
}
.work {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  word-spacing: 70px;
  line-height: 60px;
}
.chrome img {
  max-width: 100%;
  opacity: 0.2;
}

.process {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 30px 60px 15px 60px;
  background-color: rgb(121, 121, 121);
  color: rgb(0, 0, 0);
}

.process a {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.process, .concours-restoration h3 {
  /* text-align: right; */
  padding-top: 15px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.restoration-row::after {
  content: "";
  clear: both;
  display: table;
}

.resto-column {
  float: left;
  width: 25%;
}
.resto-column img {
  width: 100%;
}

.concours-restoration {
  position: relative;
  bottom: 30px;
  text-align: center;
  padding: 10px 60px 15px 60px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(121, 121, 121);
  color: rgb(0, 0, 0);
}

.concours-restoration a {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* services end */

/* inventory start */
  .cars1 {
    margin-top: 120px;
  }

  .cars, .cars1 h3 {
    color: white;
    margin-left: 40px;
    font-family: 'Lexend Mega', sans-serif;
  }

  .row {
    display: flex;
  }

  .column {
    flex: 25%;
    padding: 15px;
  }

  .aboutus {
    font-family: 'Lexend Mega', sans-serif;
    text-align: center;
    margin: 100px 30px 0px 30px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .aboutus h2 {
    color: rgb(117, 116, 116);
  }

  .contactus {
    margin-top: 100px;
    width: 100%;
    text-align: center;
  }

  .contactinfo {
    color: rgb(70, 68, 68);
    font-family: 'Lexend Mega', sans-serif;
    font-size: 3vh;
  }

  @media (max-width:1100px) {
    .weoffer {
      display: block;
    }
    .weoffer img {
      max-width: 100%;
    }

    .work {
      max-width: 800px;
      text-align: center;
    }
    .center {
      top: 20%;
    }
    .resto-column {
      float: left;
      width: 50%;
    }
    .resto-column img {
      width: 100%;
    }
  
  }

  @media (max-width:750px) {

    .logo img {
      max-width: 100px;
    }
  
    .toggle-button {
      display: flex;
      top: 1.5rem; 
      right: 1.5rem; 
    }
  
    .navbar-links {
      display: none;
      width: 100%;
    }
    .process h3 {
      text-align: center;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
  
    .navbar-links li {
      text-align: center;
    }
  
    .navbar-links li a {
      padding: .5rem 1rem;
    }
  
    .navbar-links.active {
      display: flex;
    } 

    .weoffer {
      display: inline-block;
    }

    
/* Services page start */
    .chrome {
      margin-top: 80px;
    }
    .zinc {
      margin-top: 30px;
    }
    .chrome img, .zinc img {
      max-width: 100%;
    }
    .center {
      top: 17%;
    }
    /* Services pages end */
  }


  @media (max-width: 450px) {
    .navbar {
      background: rgb(100, 100, 100);
    }
    .info {
      text-align: center;
      margin-bottom: 50px;
    }
    .info a {
      float: none;
    }
    .bg {
      top: 50px;
    }

    .chrome {
      margin-top: 65px;
    }

    .center {
      top: 9%;
    }
    .work {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    
  }



 
